@import "../../styles/global.scss";
@import "../../styles/auth.scss";

.main_container {

  .reset_password_container {
    border: solid 1px $border-color;
    color: $text-color-dark;
    background-color: white;

    .email_field {                                                                                                           
      margin-bottom: 12px;                                   
    }                                                                                                                        

    .turnstile {
      text-align: center;
    }

    .button {
      width: 380px;
      color: white;
      background-color: $base-color-dark;
    }

    .error_label {
      color: #f44336;
      font-size: 0.75rem;
      margin: 4px 0 4px 14px;
    }

  }

  .help_link {
    margin: 1.5rem 0 0;
    text-align: center;
  }
}
