APP_ENV=local
APP_DEBUG=true
DEV_EMAIL_TO=smarcet@gmail.com
APP_KEY=SomeRandomString
APP_URL=http://localhost
APP_OAUTH_2_0_CLIENT_ID=clientid
APP_OAUTH_2_0_CLIENT_SECRET=clientsecret
APP_OAUTH_2_0_AUTH_SERVER_BASE_URL=http://localhost

DB_HOST=localhost
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret

DB_USE_SSL=false
DB_MYSQL_ATTR_SSL_CA=
DB_MYSQL_ATTR_SSL_KEY=
DB_MYSQL_ATTR_SSL_CERT=
DB_MYSQL_ATTR_SSL_CIPHER=DHE-RSA-AES256-SHA

REDIS_HOST=127.0.0.1
REDIS_PORT=port
REDIS_DB=0
REDIS_PASSWORD=

CACHE_DRIVER=redis

SESSION_DRIVER=redis
SESSION_COOKIE_DOMAIN=
SESSION_COOKIE_SECURE=false

QUEUE_DRIVER=database
QUEUE_CONN=
QUEUE_DATABASE=

MAIL_DRIVER=sendgrid
SENDGRID_API_KEY='YOUR_SENDGRID_API_KEY'

CORS_ALLOWED_HEADERS=origin, content-type, accept, authorization, x-requested-with
CORS_ALLOWED_METHODS=GET, POST, OPTIONS, PUT, DELETE
CORS_USE_PRE_FLIGHT_CACHING=true
CORS_MAX_AGE=3200
CORS_EXPOSED_HEADERS=

CURL_TIMEOUT=3600
CURL_ALLOWS_REDIRECT=false
CURL_VERIFY_SSL_CERT=false

ASSETS_BASE_URL=http://www.openstack.org
SSL_ENABLED=true
DB_LOG_ENABLED=true
ACCESS_TOKEN_CACHE_LIFETIME=300
API_RESPONSE_CACHE_LIFETIME=600

LOG_EMAIL_TO=smarcet@gmail.com
LOG_EMAIL_FROM=smarcet@gmail.com
LOG_LEVEL=info

EVENTBRITE_OAUTH2_PERSONAL_TOKEN=

RECAPTCHA_PUBLIC_KEY=
RECAPTCHA_PRIVATE_KEY=

BANNING_ENABLE=
SUPPORT_EMAIL=
USER_SPAM_PROCESSOR_TO=
MAIL_FROM_EMAIL="noreply@openstack.org"
MAIL_FROM_NAME="noreply@openstack.org"

## RABBIT MQ
RABBITMQ_EXCHANGE_NAME=databus-exchange
RABBITMQ_HOST=
RABBITMQ_PORT=5671
RABBITMQ_VHOST=databus
RABBITMQ_LOGIN=admin
RABBITMQ_PASSWORD=1qaz2wsx
RABBITMQ_QUEUE=default
RABBITMQ_SSL=true
RABBITMQ_SSL_CAFILE=/certs/rabbit/ca-osf.pem
RABBITMQ_SSL_LOCALCERT=/certs/rabbit/client-cert-osf.pem
RABBITMQ_SSL_LOCALKEY=/certs/rabbit/client-key-osf.pem
RABBITMQ_SSL_VERIFY_PEER=false

# 3rd party idps

FACEBOOK_CLIENT_ID=
FACEBOOK_CLIENT_SECRET=
FACEBOOK_REDIRECT_URI=/auth/login/facebook/callback

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=/auth/login/google/callback

APPLE_CLIENT_ID=
APPLE_CLIENT_SECRET=
APPLE_REDIRECT_URI=/auth/login/apple/callback

LINKEDIN_CLIENT_ID=
LINKEDIN_CLIENT_SECRET=
LINKEDIN_REDIRECT_URI=/auth/login/linkedin/callback

OTP_DEFAULT_LIFETIME=600
OTP_DEFAULT_LENGTH=6
APP_HOME_PAGE_INFO_TEXT=""
SHOW_PUBLIC_PROFILE_SHOW_PHOTO_CHECKBOX=true
AUTH_ALLOWS_NATIVE_AUTH=1
AUTH_ALLOWS_OTP=1
AUTH_ALLOWS_NATIVE_AUTH_CONFIG=1
MAIL_SEND_WELCOME_EMAIL=1
DEFAULT_PROFILE_IMAGE=

AUTH_PASSWORD_RESET_LIFETIME=1800

AUTH_PASSWORD_SHAPE_PATTERN="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-])"
AUTH_PASSWORD_SHAPE_WARNING="Password must include at least one uppercase letter, one lowercase letter, one number, and one special character."


#Open Telemetry
OTEL_SERVICE_ENABLED=true
OTEL_SERVICE_NAME=idp-api
OTEL_PROPAGATORS=tracecontext,baggage
OTEL_EXPORTER_OTLP_PROTOCOL=http/json # Supported values: "grpc", "http/protobuf", "http/json"
OTEL_EXPORTER_OTLP_MAX_RETRIES=3
OTEL_EXPORTER_OTLP_ENDPOINT=http://otel-collector:4318
TRACE_SPAN_PREFIX=SPAN
OTEL_TRACES_SAMPLER_PARENT=false
# OTEL_TRACES_SAMPLER_TYPE=always_on # Supported values: "always_on", "always_off", "traceidratio"
# OTEL_TRACES_SAMPLER_TRACEIDRATIO_RATIO=0.05
# OTEL_METRICS_EXPORTER=otlp
# OTEL_TRACES_EXPORTER=otlp
# OTEL_LOGS_EXPORTER=otlp
# OTEL_EXPORTER_OTLP_TIMEOUT=10000
# OTEL_EXPORTER_OTLP_HEADERS=
# OTEL_EXPORTER_OTLP_TRACES_TIMEOUT=10000
# OTEL_EXPORTER_OTLP_TRACES_HEADERS=
# OTEL_EXPORTER_OTLP_METRICS_TIMEOUT=10000
# OTEL_EXPORTER_OTLP_METRICS_HEADERS=
# OTEL_EXPORTER_OTLP_LOGS_TIMEOUT=10000
# OTEL_EXPORTER_OTLP_LOGS_HEADERS=
# OTEL_EXPORTER_ZIPKIN_ENDPOINT=http://localhost:9411
# OTEL_EXPORTER_ZIPKIN_TIMEOUT=10000
# OTEL_EXPORTER_ZIPKIN_MAX_RETRIES=3
# OTEL_INSTRUMENTATION_HTTP_SERVER=true
# OTEL_INSTRUMENTATION_HTTP_CLIENT=true
# OTEL_INSTRUMENTATION_QUERY=true
# OTEL_INSTRUMENTATION_REDIS=true
# OTEL_INSTRUMENTATION_QUEUE=true
# OTEL_INSTRUMENTATION_CACHE=true
# OTEL_INSTRUMENTATION_VIEW=true
# OTEL_INSTRUMENTATION_LIVEWIRE=true
# OTEL_INSTRUMENTATION_CONSOLE=true

# OpenAPI CONFIG (former Swagger)

L5_SWAGGER_CONST_HOST=${APP_URL}
L5_SWAGGER_CONST_AUTH_URL=${IDP_AUTHORIZATION_ENDPOINT}
L5_SWAGGER_CONST_TOKEN_URL=${IDP_TOKEN_ENDPOINT}
# L5_FORMAT_TO_USE_FOR_DOCS=yaml
L5_SWAGGER_GENERATE_ALWAYS=true # Dev setting
L5_SWAGGER_OPEN_API_SPEC_VERSION=3.2.0
