/vendor
composer.phar
.idea/*
.tox
AUTHORS
ChangeLog
doc/build
*.egg
*.egg-info
*.log
/node_modules
.idea/
/public/storage
Homestead.yaml
Homestead.json
.env
.env.*
storage/proxies
/public/assets/jquery-cookie/
/public/assets/crypto-js/
/public/assets/bootstrap-tagsinput/
/public/assets/fonts/
/public/assets/typeahead/
public/assets/index.js.map
public/assets/__common__.js.map
public/assets/images/
public/assets/svg/
public/assets/css/index.css.map
public/assets/simplemde/
/public/assets/pwstrength-bootstrap/
/public/assets/sweetalert2/
/public/assets/urijs
/public/assets/clipboard-copy-element/
_intellij_phpdebug_validator.php
/public/assets/chosen-js
/public/assets/moment
routes.txt
model.sql
.phpunit.result.cache
!/public/web.config
/public/assets/dist/
/public/assets/css/*.css
/public/assets/*.js
/public/assets/*.svg
/public/assets/*.ttf
/public/assets/*.eot
/public/assets/*.woff2
/public/assets/*.woff
/public/assets/*.png
/public/assets/*.txt
/.env.local
/.phpunit.cache/
