@import '../../styles/global.scss';

.main_container{
  margin-top: 5%;
  margin-bottom: 10%;
  max-width: 544px !important;
}

.login_container{
  border: solid 1px $border-color;
  color: $base-color;
  background-color: white;
}

.error_label{
  color: red;
}

p > a {
  text-decoration: underline !important;
}

.inner_container {
    display: flex;
    margin-top: 64px;
    padding-bottom: 20%;
    flex-direction: column;
    h1.app_logo_container {
      text-align: center;
    }

  .app_logo {
    max-width: 40%;
    margin-bottom: 15%;
  }

  .continue_btn {
    float: right;
    margin-top: 30%;
  }

  .secondary_btn {
    min-width: 300px;
    text-transform: none;
  }

  .recaptcha {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .separator {
    color: $base-color;
    width: 100%;
    border: 1px solid;
    margin-bottom: 5%;
      margin-top: 5%;
    }
}

.paper_root {
  padding: 2px 4px;
  display: flex;
  align-items: center;

  .apply_button {
    height: 55px;
    margin-bottom: 8px;
    margin-top: 16px;
    margin-left: 10px;
    min-width: 20px !important;
    font-size: 20pt;
  }
}

.third_party_idp_button {
  width: 100%;
  margin-top: 5px !important;
  margin-bottom: 5px !important;
  position:relative;
  box-sizing: border-box;
}

.third_party_idp_button:before{
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;
}

.valid_user_name_chip{
  float: right;
}

.otp_p {
  margin: 0;
  padding: 0;
}