.ITp5Qu6P4lsCSCef_ylH .bFjEepUjvoDnOqzpVjRz .u_bGv4nMNaejfgcHZ2rs {
  margin-top: 15px; }
  .ITp5Qu6P4lsCSCef_ylH .bFjEepUjvoDnOqzpVjRz .u_bGv4nMNaejfgcHZ2rs label {
    margin-bottom: 10px !important; }
  .ITp5Qu6P4lsCSCef_ylH .bFjEepUjvoDnOqzpVjRz .u_bGv4nMNaejfgcHZ2rs .o6YoOaUQBJrgfP7T8YIA {
    color: #f44336;
    font-size: 0.75rem;
    margin: 4px 0 4px 14px; }

.C_sUVZbT6z7I34Ayl7rC .AWuFEoE8zqZVDt54h5mV {
  display: flex;
  max-width: 10%;
  margin: auto;
  padding-bottom: 10px; }

@media only screen and (max-width: 600px) {
  .C_sUVZbT6z7I34Ayl7rC .AWuFEoE8zqZVDt54h5mV {
    display: flex;
    max-width: 30%;
    margin: auto;
    padding-bottom: 10px; } }

.voIb_bUGg7r7F9BriDqn {
  margin-top: 5%;
  margin-bottom: 10%;
  max-width: 1024px !important; }
  .voIb_bUGg7r7F9BriDqn .aA_oFbE67qYXoW7yyRhh .lofeCzG8Hs0FvX9v49ji {
    display: flex;
    max-width: 40%;
    margin: auto; }
  .voIb_bUGg7r7F9BriDqn .aA_oFbE67qYXoW7yyRhh h1 {
    display: flex;
    justify-content: center;
    vertical-align: middle; }
    .voIb_bUGg7r7F9BriDqn .aA_oFbE67qYXoW7yyRhh h1 a {
      text-decoration: none; }
  .voIb_bUGg7r7F9BriDqn .E__nTyKoM4gsjCMWrAfB {
    border: solid 1px #e3e3e3;
    color: #0a1f31;
    background-color: white; }
    .voIb_bUGg7r7F9BriDqn .E__nTyKoM4gsjCMWrAfB .ZMueOdKQZ4v0kq7TGMG6 {
      width: 200px;
      color: white;
      background-color: #3379b7; }

