.C_sUVZbT6z7I34Ayl7rC .AWuFEoE8zqZVDt54h5mV{display:flex;max-width:10%;margin:auto;padding-bottom:10px}@media only screen and (max-width: 600px){.C_sUVZbT6z7I34Ayl7rC .AWuFEoE8zqZVDt54h5mV{display:flex;max-width:30%;margin:auto;padding-bottom:10px}}

.QtDEn2kD_9bCul9SleHP{max-width:1024px !important;width:100%}.QtDEn2kD_9bCul9SleHP .zyYbEfOw3KUtZPkQCpQz{margin-top:15px}.QtDEn2kD_9bCul9SleHP .zyYbEfOw3KUtZPkQCpQz label{margin-bottom:5px !important;display:flex;align-items:center}.QtDEn2kD_9bCul9SleHP .zyYbEfOw3KUtZPkQCpQz .FOuVcc9LIW0gbJBf8f6g{height:45px}.QtDEn2kD_9bCul9SleHP .zyYbEfOw3KUtZPkQCpQz .p_fsS75VWjzved7Y17uk{width:120px}.QtDEn2kD_9bCul9SleHP .zyYbEfOw3KUtZPkQCpQz .zVWoJdx5bVUaXy3xsuvf{color:#f44336;font-size:0.75rem;margin:4px 0 4px 14px}.QtDEn2kD_9bCul9SleHP .wJsLsElkg1U2oLDhGgGU{padding:10px}

.react-daterange-picker{display:inline-flex;position:relative;height:40px}.react-daterange-picker,.react-daterange-picker *,.react-daterange-picker *:before,.react-daterange-picker *:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}.react-daterange-picker--disabled{background-color:#f0f0f0;color:#6d6d6d}.react-daterange-picker__wrapper{display:flex;flex-grow:1;flex-shrink:0;align-items:center;border:thin solid #ababab;border-radius:4px;padding-left:10px}.react-daterange-picker__inputGroup{min-width:calc((4px * 3) + 0.54em * 8 + 0.217em * 2);height:100%;flex-grow:1;padding:0 2px;box-sizing:content-box}.react-daterange-picker__inputGroup__divider{padding:1px 0;white-space:pre}.react-daterange-picker__inputGroup__divider,.react-daterange-picker__inputGroup__leadingZero{display:inline-block}.react-daterange-picker__inputGroup__input{min-width:0.54em;height:100%;position:relative;padding:0 1px;border:0;background:none;color:currentColor;font:inherit;box-sizing:content-box;-webkit-appearance:textfield;-moz-appearance:textfield;appearance:textfield}.react-daterange-picker__inputGroup__input::-webkit-outer-spin-button,.react-daterange-picker__inputGroup__input::-webkit-inner-spin-button{-webkit-appearance:none;-moz-appearance:none;appearance:none;margin:0}.react-daterange-picker__inputGroup__input:invalid{background:rgba(255,0,0,0.1)}.react-daterange-picker__inputGroup__input--hasLeadingZero{margin-left:-0.54em;padding-left:calc(1px + 0.54em)}.react-daterange-picker__button{border:0;background:transparent;padding:4px 6px}.react-daterange-picker__button:enabled{cursor:pointer}.react-daterange-picker__button:enabled:hover .react-daterange-picker__button__icon,.react-daterange-picker__button:enabled:focus .react-daterange-picker__button__icon{stroke:#0078d7}.react-daterange-picker__button:disabled .react-daterange-picker__button__icon{stroke:#6d6d6d}.react-daterange-picker__button svg{display:inherit}.react-daterange-picker__calendar{width:350px;max-width:100vw;z-index:1}.react-daterange-picker__calendar--closed{display:none}.react-daterange-picker__calendar .react-calendar{border-width:thin}

.react-calendar {
  width: 350px;
  max-width: 100%;
  background: white;
  border: 1px solid #a0a096;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
}

.react-calendar--doubleView {
  width: 700px;
}

.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}

.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}

.react-calendar button:enabled:hover {
  cursor: pointer;
}

.react-calendar__navigation {
  display: flex;
  height: 44px;
  margin-bottom: 1em;
}

.react-calendar__navigation button {
  min-width: 44px;
  background: none;
}

.react-calendar__navigation button:disabled {
  background-color: #f0f0f0;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #e6e6e6;
}

.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75em;
}

.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}

.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
  font-weight: bold;
}

.react-calendar__month-view__days__day--weekend {
  color: #d10000;
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575;
}

.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}

.react-calendar__tile {
  max-width: 100%;
  padding: 10px 6.6667px;
  background: none;
  text-align: center;
  line-height: 16px;
}

.react-calendar__tile:disabled {
  background-color: #f0f0f0;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #e6e6e6;
}

.react-calendar__tile--now {
  background: #ffff76;
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #ffffa9;
}

.react-calendar__tile--hasActive {
  background: #76baff;
}

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff;
}

.react-calendar__tile--active {
  background: #006edc;
  color: white;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #1087ff;
}

.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
}

.cZDtwAzjkTJSTXOqDfPN{margin-top:5%;margin-bottom:10%;max-width:1024px !important}.cZDtwAzjkTJSTXOqDfPN .ZKyLF0JSnhgLIzJeQ1Ic .rfyAWhZhtgCOSv3X62RZ{display:flex;max-width:40%;margin:auto}.cZDtwAzjkTJSTXOqDfPN .ZKyLF0JSnhgLIzJeQ1Ic h1{display:flex;justify-content:center;vertical-align:middle}.cZDtwAzjkTJSTXOqDfPN .ZKyLF0JSnhgLIzJeQ1Ic h1 a{text-decoration:none}.cZDtwAzjkTJSTXOqDfPN .OOj6G60_D4AuI50zaSpe{border:solid 1px #e3e3e3;color:#0a1f31;background-color:white}.cZDtwAzjkTJSTXOqDfPN .OOj6G60_D4AuI50zaSpe .P9G8wCAsaNGM6rbmpp4T{width:100%}.cZDtwAzjkTJSTXOqDfPN .OOj6G60_D4AuI50zaSpe .zl_mGYyP4wmetWXYwmxb{width:200px;color:white;background-color:#3379b7}

