.main_container___3z2Sq {
  margin-top: 5%;
  margin-bottom: 10%;
  max-width: 544px !important; }

.login_container___2IDqB {
  border: solid 1px #e3e3e3;
  color: #3fa2f7;
  background-color: white; }

.inner_container___2QnpL {
  display: flex;
  margin-top: 64px;
  padding-bottom: 20%;
  flex-direction: column; }
  .inner_container___2QnpL h1.app_logo_container___U-bNC {
    text-align: center; }
  .inner_container___2QnpL .app_logo___329-- {
    max-width: 40%;
    margin-bottom: 15%; }
  .inner_container___2QnpL .continue_btn___1rd8E {
    float: right;
    margin-top: 30%; }
  .inner_container___2QnpL .recaptcha___1tFLz {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px; }
  .inner_container___2QnpL .separator___2pSEN {
    color: #3fa2f7;
    width: 100%;
    border: 1px solid;
    margin-bottom: 5%;
    margin-top: 5%; }

