.vS4viHpYzLYWj40ztp9Q {
  margin-top: 5%;
  margin-bottom: 10%;
  max-width: 1024px !important; }

.si5JRn4stCvYE9qx9Zom {
  position: absolute;
  right: 1px;
  top: 1px;
  color: deeppink; }

.ug9xrtzzz3UCDP3FTjIu {
  position: absolute;
  right: 1px;
  top: 1px;
  color: red; }

.NxVGD5qVU1A06yWX5Gxz {
  position: absolute;
  right: 1px;
  top: 1px;
  color: blue; }

.ExrndYG7uxWUCO5J14j3 {
  color: #0a1f31; }

