@import "../../styles/global.scss";

.main_container {
  margin-top: 5%;
  margin-bottom: 10%;
  max-width: 544px !important;

  a {
    color: $base-color-dark;
  }

  .title_container {
    .app_logo {
      display: flex;
      max-width: 40%;
      margin: auto;
    }
  }

  .signup_container {
    border: solid 1px $border-color;
    color: $text-color-dark;
    background-color: white;

    .recaptcha {
      width: 100%;
      margin-top: 10px;
      margin-bottom: 10px;
    }

    .button {
      width: 380px;
      color: white;
      background-color: $base-color-dark;
    }

    .password_hint {
      display: flex;
      color: $hint-text-color;
      vertical-align: middle;
    }

    .countries {
      height: 40px !important;
      &_empty_text {
        color: $hint-text-color;
      }
    }

    .error_label {
      color: red;
    }
  }

  .footer {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
}
