.title_container {
  .app_logo {
    display: flex;
    max-width: 10%;
    margin: auto;
    padding-bottom: 10px;
  }
}

@media only screen and (max-width: 600px) {
  .title_container {
    .app_logo {
      display: flex;
      max-width: 30%;
      margin: auto;
      padding-bottom: 10px;
    }
  }
}