@import '../../styles/global.scss';

.main_container {
  margin-top: 5%;
  margin-bottom: 10%;
  max-width: 544px !important;

  .title_container {
    .app_logo {
      display: flex;
      max-width: 40%;
      margin: auto;
    }
  }

  .password_reset_container {
    border: solid 1px $border-color;
    color: $base-color;
    background-color: white;

    .button {
      width: 380px;
      color: white;
      background-color: $base-color-dark;
      margin-top: 10px;
    }
  }
}