@import '../../styles/global.scss';

.main_container {
  margin-top: 5%;
  margin-bottom: 10%;
  max-width: 544px !important;

  .title_container {
    .app_logo {
      display: flex;
      max-width: 40%;
      margin: auto;
    }

    h1 {
      display: flex;
      justify-content: center;
      vertical-align: middle;

      a {
        text-decoration: none;
      }
    }
  }

  .consent_container {
    border: solid 1px $border-color;
    background-color: white;

    .button {
      width: 300px;
    }

    .summit_button {
      width: 300px;
      color: white;
      background-color: $base-color-dark;
    }

    .scopes_list_container {
      width: 100%;
      max-height: 300px;
      overflow-y: auto;
    }

    .scope_item {
      display: flex;
      vertical-align: middle;

      /* These are technically the same, but use both */
      overflow-wrap: break-word;
      word-wrap: break-word;

      -ms-word-break: break-all;
      /* This is the dangerous one in WebKit, as it breaks things wherever */
      word-break: break-all;
      /* Instead use this non-standard one: */
      word-break: break-word;

      /* Adds a hyphen where the word breaks, if supported (No Blink) */
      -ms-hyphens: auto;
      -moz-hyphens: auto;
      -webkit-hyphens: auto;
      hyphens: auto;
    }

    .disclaimer {
      display: flex;
      vertical-align: middle;
    }
  }
}