@import '../../styles/global.scss';

.main_container {
  margin-top: 5%;
  margin-bottom: 10%;
  max-width: 544px !important;

  .title_container {
    .app_logo {
      display: flex;
      max-width: 40%;
      margin: auto;
    }

    h1 {
      display: flex;
      justify-content: center;
      vertical-align: middle;
    }
  }

  .consent_container {
    border: solid 1px $border-color;
    background-color: white;

    .button {
      width: 300px;
    }

    .summit_button {
      width: 300px;
      color: white;
      background-color: $base-color-dark;
    }

    .scopes_list_container {
      width: 100%;
      max-height: 300px;
      overflow-y: auto;
    }

    .scope_item {
      display: flex;
      vertical-align: middle;
    }

    .disclaimer {
      display: flex;
      vertical-align: middle;
    }
  }
}